OPENAI_API_KEY=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
NEXT_PUBLIC_CHATKIT_WORKFLOW_ID=wf_sk-proj-Lqs_z-ufbSQT-_2WuC96VLeRQzmBJpzEp0WxfkIyJgRNuFLEabZptGZ_zzJyrPyshc29_18dEVT3BlbkFJMJYr7DhdsYjZIdO5KjeF8XMLrCcYU8nnk0fUenYh5dsdi1VgyT6uZQhj2bWqYrBeNYPBJK0E8A
